.vs/GitApp/FileContentIndex/cb445f21-78e2-4999-95a8-bcc78321f10c.vsidx
.vs/GitApp/FileContentIndex/read.lock
.vs/GitApp/v17/.futdcache.v2
.vs/GitApp/v17/.suo
.vs/ProjectEvaluation/gitapp.metadata.v5.2
.vs/ProjectEvaluation/gitapp.projects.v5.2
obj/GitApp.csproj.nuget.dgspec.json
obj/GitApp.csproj.nuget.g.props
obj/GitApp.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/GitApp.AssemblyInfo.cs
obj/Debug/net6.0/GitApp.AssemblyInfoInputs.cache
obj/Debug/net6.0/GitApp.assets.cache
obj/Debug/net6.0/GitApp.csproj.AssemblyReference.cache
obj/Debug/net6.0/GitApp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/GitApp.GlobalUsings.g.cs
obj/Debug/net6.0/GitApp.RazorAssemblyInfo.cache
obj/Debug/net6.0/GitApp.RazorAssemblyInfo.cs
obj/Debug/net6.0/project.razor.json
Properties/launchSettings.json
bin/Debug/net6.0/appsettings.Development.json
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/GitApp.deps.json
bin/Debug/net6.0/GitApp.dll
bin/Debug/net6.0/GitApp.exe
bin/Debug/net6.0/GitApp.pdb
bin/Debug/net6.0/GitApp.runtimeconfig.json
bin/Debug/net6.0/GitApp.staticwebassets.runtime.json
.gitignore
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/GitApp.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/GitApp.csproj.FileListAbsolute.txt
obj/Debug/net6.0/GitApp.dll
obj/Debug/net6.0/GitApp.genruntimeconfig.cache
obj/Debug/net6.0/GitApp.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/GitApp.pdb
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets.development.json
obj/Debug/net6.0/staticwebassets.pack.json
obj/Debug/net6.0/ref/GitApp.dll
obj/Debug/net6.0/refint/GitApp.dll
obj/Debug/net6.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
obj/Debug/net6.0/scopedcss/bundle/GitApp.styles.css
obj/Debug/net6.0/scopedcss/projectbundle/GitApp.bundle.scp.css
obj/Debug/net6.0/staticwebassets/msbuild.build.GitApp.props
obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.GitApp.props
obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.GitApp.props
obj/Debug/net6.0/staticwebassets/msbuild.GitApp.Microsoft.AspNetCore.StaticWebAssets.props
